{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["javascript", "css", "markup", "md", "json", "shell"],
        "plugins": ["command-line"],
        "theme": "default",
        "css": true
      }
    ]
  ]
}
